  *{
  flex-shrink: 1;

  }
  .calendarContainer {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    
    position: relative; /* Nếu cần */
    transform: translateX(-50%); /* Dịch Calendar về giữa */
    
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* width: fit-content; */
    padding: 10px;
    font-family:'Times New Roman', Times, serif;

    width: 100%; /* Điều chỉnh theo title_box */
    flex-shrink: 1;

    transform: scale(0.8); 
}


  .react-calendar {

    max-width: 100%;
    height: auto;
    font-size: 0.8rem; /* Giảm kích thước chữ */
  }
  .tile {
    
    padding: 10px;
    /* font-size: 1rem; */
    border-radius: 5px;
    text-align: center;
  }
  
  .activeDay {
    background: #950909;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    opacity: 80%;
  }
  /* Khi màn hình nhỏ hơn 768px (Tablet) */
@media (max-width: 768px) {
  .calendarContainer {
    transform: scale(0.6); 
  }
}

  