
.app_container {
  display: flex;
  /* width: 100%; */
  
  /* hỗ trợ trình duyệt di động */
  min-height: 100dvh; 
  transition: all 0.3s ease-in-out;

}

  /* Main Content */
  .main_content {
    flex-grow: 1; /* Mặc định chiếm toàn bộ không gian còn lại */
  /* transition: width 0.3s ease-in-out; */
    display: flex;

    flex-shrink:1;
    position: absolute;
    flex-direction: column;
    flex: 1;
    background: #f9f9f9;
    padding: 2rem;
    /* width:100%; */
    left:250px;
    right:0px;
    height:100%;
    /* z-index: 1000; */
  }

  
  /* Task Dashboard */
  .task_dashboard {
    flex: 1;
    padding: 1rem;
    
  }
  
  .header h2 {
    font-size: 1.5 rem;
    font-weight: bold;
    color:#7a1a08;
    
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

}
  
  .task_list {
    margin-top: 10px;
  }
  
  .task {
    
    background: #fff;
    padding: 10px;
    margin: 8px 0;
    display: flex;
    align-items: flex-start;
    gap: 18px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd; /*Tạo viền ngăn cách*/
  }
  
  .dot {
    width: 15px;
    height: 15px;
    
    border-radius: 50%;
    margin-left: 10px;
    margin-left: 10px;
  }
  .task_checkbox{
    margin-left  : auto;
    cursor: pointer;
  }
  
  .yellow { background: #FFC107; }
  .red { background: #F44336; }
  .blue { background: #2196F3; }
  .green { background: #4CAF50; }
  
  
  .task_event_red {
    background: rgb(255, 205, 214);
    /* padding: 10px; */
    /* border-radius: 5px; */
    
    font-size: 14px;

    padding: 10px;
    margin: 8px 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
    .task_event_blue {
    background: rgb(205, 198, 255);
    /* padding: 10px; */
    /* border-radius: 5px; */
    font-size: 14px;

    padding: 10px;
    margin: 8px 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .task_event_green {
    background: rgb(201, 248, 209);
    /* padding: 10px; */
    /* border-radius: 5px; */
    font-size: 14px;

    padding: 10px;
    margin: 8px 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }


  /* Button Toggle Calendar */
.toggle_btn {
  background-color: #4caf50; /* Màu xanh lá */
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  right:30px;
  top:10px;
  display: block;
  position: fixed;
  opacity: 70%;

  z-index: 9999;
}

.toggle_btn:hover {
  background-color: #4add4f; /* Màu xanh đậm hơn khi hover */
  opacity: 100%;

}

.toggle_btn:active {
  transform: scale(1);
}



  /* Calendar */
  .calendar {
    width:35%;
    flex: 1;
    flex-shrink:1;
    padding: 2rem;
    border-left: 2px solid #ddd;
    position: fixed;
    right: 0;
    top:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-right: solid 2px #ddd;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  .calendar h2{
    font-size: 1.5 rem;
    font-weight: bold;
    color:#7a1a08;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    
    
  }
  
  .calendar_content {
    overflow-y: auto; /*thanh cuộn */
    margin-top: 10px;
  }
.calendar.hidden {
  opacity: 0;
  max-height: 0;
}



@media (max-width: 800px) {
    
  .main_content{
    flex-grow: 1; /* Mặc định chiếm toàn bộ không gian còn lại */
/* transition: width 0.3s ease-in-out; */
  display: flex;

  flex-shrink:1;
  position: absolute;
  flex-direction: column;
  flex: 1;
  background: #f9f9f9;
  padding: 2rem;
  /* width:100%; */
  left:0px;
  right:0px;
  
  }


  .calendar {
    width: 70%;
    
  }
    /* Button Toggle Calendar */
  .toggle_btn {
    
    margin-top:20px;
    margin-right:-20px;
    font-size: smaller;
    
  }
  .task_dashboard{
    padding: 0.5rem;

  }

}

