* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
} 

.Wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 70px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginForm h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.inputGroup {
    display: flex;
    gap: 5px;
    position: relative;
    width: 100%;
}

.inputGroup input {
    border: none;
    background-color: #E6E6E6;
    padding: 15px;
    padding-right: 60px;
    padding-left: 55px; 
    border-radius: 30px;
    width: 310px;
}

.inputGroup input:focus {
    outline: none;
}

.inputGroup .icon {
    position: relative;
    top: 28%;
    left: 45px;
    height: 20px;
    width: 20px;
}

.inputGroup .icon.eyeIcon {
    position: relative;
    left: auto;
    right: 45px;
    top: 30%;
    cursor: pointer;
}

.rememberForgot {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9rem;
}

.rememberForgot label {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    left: 20px;
}

.rememberForgot a {
    color: #0000D0;
    transition: color 0.3s;
}

.rememberForgot a:hover {
    color: #6a89cc;
    transition: color 0.3s;
}

.loginButton {
    padding: 15px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 30px;
    padding-right: 50px;
    padding-left: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.loginButton:hover {
    background-color: #007bff;
}

.registerLink {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 40px;
}

.registerLink a {
    color: #0000D0;
    transition: color 0.3s;
}

.registerLink a:hover {
    color: #6a89cc;
    transition: color 0.3s;
}

.error {
    color: red;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    margin-top: -10px;
}


@media screen and (max-width: 768px) {
    .loginForm {
        padding: 50px;
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .inputGroup {
        left: -10px;
    }

    .inputGroup input {
        width: 300px;
    }

    .loginButton {
        padding-right: 40px;
        padding-left: 40px;
    }
    
}