html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --background-color: #ffffff; /* Màu nền sáng */
    --text-color: #000000; /* Màu chữ sáng */
}
[data-theme='dark'] {
    --background-color: #23272f; /* Màu nền tối */
    --text-color: #ffffff; /* Màu chữ tối */
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}