:root {
  --setting-bg: #e4e4e4;
  --toggle-bg: #ccc;
  --toggle-circle: #fff;
  --text-dark: #000000;
  --text-light: #ffffff;
  --header: #7a1a08;
}

[data-theme="dark"] {
  --setting-bg: #98989878;
  --toggle-bg: #444;
  --toggle-circle: #ffcf7d;
  --text-dark: #ffffff; 
  --text-light: #000000;
  --header: #ffc821;
}

.container {
    width: 80%;
    height: 95dvh;
    margin: 5px 0 0 17rem;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}

.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 0;
    position: sticky;
    top: 0;
    background: var(--background-color);
    z-index: 10;
}

.header {
    font-size: 2rem;
    font-weight: 800;
    color: var(--header);
}

.toggleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  background-color: var(--setting-bg);
  color: var(--text-dark);
  width: 100%;
  height: 50px;
  padding: 10px;
}

.toggleLabel {
  font-size: 18px;
}

/* Toggle switch styles */
.toggleWrapper {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 28px;
}

.toggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleBackground {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 28px;
  transition: background 0.2s;
  background-color: var(--toggle-bg);
}

.toggleCircle {
  position: absolute;
  cursor: hand;
  top: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  transition: left 0.2s, background 0.2s;
  background-color: var(--toggle-circle);
}

.userInfoSection {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
    color: var(--text-dark);
    border-radius: 12px;
    padding-top: 16px;
}

.userAvatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: white;
    object-fit: cover;
}

.userInfoText {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.userName {
    font-weight: bold;
    color: var(--text-dark);
    font-size: 1.4rem;
}

.userRole {
    font-size: 1rem;
    color: var(--text-dark);
    font-weight: 500;
}

.userEmail {
    font-size: 0.98rem;
    color: var(--text-dark);
}

.divider {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 18px 0 18px 0;
    opacity: 0.6;
}
