:root {
  --notification-bg: #FAD07E;
  --notification-color: white;
  --notificationtext-color: #333;
  --bell-icon-color: #333;
  --gray-color: rgb(199, 199, 199);
  --green-color: #7dff83;
  --red-color: #dc3545;  
  --dropdown-bg: white;
  --modal-bg-color: rgba(0, 0, 0, 0.5);
  --modal-content-bg-color: white;
  --active-color: #333;
  --badge-bg: red;
  --badge-color: white;
}

[data-theme="dark"] {
  --notification-bg: #333;
  --notification-color: #FAD07E;
  --notificationtext-color: white;
  --bell-icon-color: #FAD07E;
  --gray-color: #c1c0ba;
  --green-color: #00ad09;
  --red-color: #ff6b6b;
  --dropdown-bg: #333;
  --active-color: white;
  --badge-bg: #FF5E5E;
  --badge-color: black;
}

strong {
  font-weight: bold !important;
}

.notification.active {
  transform: scale(0.95);
  color: var(--active-color); 
  transition: transform 0.1s ease, background-color 0.1s ease;
}

.notificationWrapper, .notification, .bellIcon {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


.notificationWrapper {
  position: relative;
}

.notification {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 899;
    right: 13.4%;
    top: 0.3rem;
    padding: 4.5px 6px;
    border-radius: 6px;
    background-color: var(--notification-bg);
    color: var(--notification-color);
    user-select: none;
    cursor: pointer;
}

.bellIcon {
    font-size: 25px;
    align-items: center;
    user-select: none;
}

.bellIcon.active {
    transform: scale(0.95);
    color: var(--active-color); 
    transition: transform 0.1s ease, background-color 0.1s ease;
}

.bellIcon:hover {
    color: var(--active-color);
}

.badge {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: var(--badge-bg);
    color: var(--badge-color);
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
}

.dropdown {
  position: absolute;
  pointer-events: auto;
  user-select: none;
  top: 100%;
  right: 50%;
  width: 350px;
  height: 150px;
  max-height: 150px;
  background-color: var(--dropdown-bg);
  color: var(--notificationtext-color);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 1000;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.containerModal {
  position: fixed;
  height: 95dvh;
  margin: 5px 0 0 17rem;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
}

.modalOverlay {
  position: fixed;
  top: 0;
  width: 83%;
  right: 0;
  height: 100%;
  background: var(--modal-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  color: #333;
  font-family: "Montserrat", sans-serif;
  padding: 30px 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 430px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.modalContent h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #7b5410;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.modalContent p {
  font-size: 16px;
  margin: 12px 0;
  line-height: 1.5;
}

.modalContent button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: black;
  cursor: pointer;
  transition: background 0.3s ease;
}

.acceptBtn {
  background-color: var(--green-color) !important;
}

.declineBtn {
  background-color: lightcoral !important;
}

.closeBtn {
  background-color: var(--gray-color) !important;
}

/* .modalContent button:hover {
  background-color: #0056b3 !important;
} */

.notificationItem {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid black;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
  gap: 10px;
  cursor: pointer;
}

.notificationItem:last-child {
  border-bottom: none;
  flex: 1; 
}

.unread {
  background-color: #eef6ff; 
  font-weight: bold;         
  border-left: 4px solid #2a72d4; 
}

.message {
  font-size: 14px;
  color: var(--notificationtext-color);
}

.timestamp {
  font-size: 12px;
  font-style: italic;
  color: #888;
  margin-top: auto; 
  align-self: flex-end;
}

.noNotifications {
  padding: 10px;
  text-align: center;
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  .notification {
    right: 11%;
  }

  .dropdown {
    right: 12%;
  }
}

@media screen and (max-width: 853px) {
  .notification {
    right: 9%;
    top: 0.5rem;
  }

  .bellIcon {
    font-size: 22px;
  }

  .dropdown {
    right: 50%; 
    width: 320px;
  }
}

@media screen and (max-width: 820px) {
  .notification {
    right: 4rem;
    top: 0.5rem;
  }

  .bellIcon {
    font-size: 18px;
  }

  .dropdown {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .notification {
    top: 0.3rem;
    right: 10.3rem;
  }

  .bellIcon {
    font-size: 19px;
  }
}

@media screen and (max-width: 600px) {
  .notification {
    right: 6rem;
    top: 4rem;
  }

  .bellIcon {
    font-size: 20px;
  }

  .dropdown {
    width: 250px;
  }
}

@media screen and (max-width: 430px) {
  .notification {
    right: 0.5rem ;
    top: 4rem;
  }

  .dropdown {
    width: 230px;
  }
}

@media screen and (max-width: 344px) {
  .notification {
    right: 12rem ;
    top: 4rem;
  }

  .dropdown {
    width: 200px;
  }
}


