:root {
  --primary-color: #ffcf7d;
  --primary-color-hover: #e9a93c;
  --green-color: #7dff83;
  --gray-color: rgb(199, 199, 199);
  --blue-color: #53a5fd;
  --checkbox-color: #ffcf7d;
  --modal-bg-color: rgba(0, 0, 0, 0.5);
  --modal-content-bg-color: white;
  --dropzone-bg-color: #f9f9f9;
  --border-color: #ccc;
  --toolbar-text-color: #7b5410;
  --description-bg-color: white;
  --background-color: #ffffff;
  --text-dark: #000000;
  --text-light: #ffffff;
  --header: #7a1a08;
  --bg-today: rgba(141, 237, 254, 0.2);
  --toolbar-color: #ffcf7d;
}
[data-theme='dark'] {
  --background-color: #23272f; 
  --text-dark: #ffffff; 
  --text-light: #000000;
  --toolbar-text-color: #ffc821;
  --bg-today: rgba(233, 252, 255, 0.4);
  --toolbar-color: #c1c0ba;
  --header: #ffc821;
  --green-color: #00ad09;
  --gray-color: #c1c0ba;
  --primary-color-hover: #848383;
}


.container {
  width: auto;
  height: 95dvh;
  margin: 5px 10px 0 260px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
}

:global(.rbc-toolbar button) {
  background-color: var(--toolbar-color) !important;
  color: white !important;
  border: none !important;
  padding: 8px 12px !important;
  border-radius: 8px !important;
  cursor: pointer !important;
  margin: 5px !important;
}

:global(.rbc-toolbar button:hover) {
  background-color: var(--primary-color) !important;
  color: var(--text-dark) !important;
}

:global(.rbc-toolbar button.rbc-active) {
  background-color: var(--primary-color-hover) !important;
}

:global(.rbc-toolbar) {
  font-size: 25px;
  font-weight: bold;
  color: var(--toolbar-text-color);
}

:global(.rbc-toolbar-label) {
  font-weight: bold;
  color: var(--header) !important;
}

:global(.rbc-event) {
  width: 100% !important;
  flex-grow: 1 !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: left !important;
  text-align: left !important;
}

:global(.rbc-event-content) {
  font-weight: normal;
  font-size: 14px;
  white-space: normal !important;
}

:global(.rbc-event-label) {
  font-weight: normal;
  font-size: 11.8px;
  white-space: normal;
}

:global(.rbc-day-slot) {
  display: flex !important;
  flex-direction: column !important;
}

:global(.rbc-calendar) {
  width: 100% !important;
}

:global(.rbc-time-content) {
  color: var(--text-dark); 
  font-family: "Montserrat", sans-serif;
}
:global(.rbc-today) {
  background-color: var(--bg-today) !important;
}
:global(.rbc-calendar .rbc-header) {
  color: var(--text-dark) !important;
}
:global(.rbc-off-range-bg) {
  background-color: #8d8b8b59 !important;  /* Nền ô */
}
:global(.rbc-off-range) {
  color: #999 !important;  /* Màu chữ */
}
:global(.rbc-month-view .rbc-date-cell) {
  color: var(--text-dark);
  font-weight: 600;
}
:global(.rbc-show-more) {
  color: var(--text-dark) !important;
  background-color: transparent !important;
  border-radius: 8px !important;
  padding: 5px !important;
  font-size: 12px !important;
}


.add_event {
  display: flex;
  flex-direction: column;
  color: var(--text-light) !important;
  border: none !important;
  border-radius: 8px !important;
  margin-right: 10px;
}

.add {
  background-color: var(--green-color) !important;
  border-radius: 8px !important;
  cursor: pointer !important;
  margin-top: 60px !important;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1006;
}

.modalContent {
  background: var(--modal-content-bg-color);
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1007;
  max-width: 95vw;
  word-break: break-word;
  overflow-wrap: break-word;
}

.modalContentEdit {
  background: var(--modal-content-bg-color);
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 700px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1007;
  max-width: 95vw;
  word-break: break-word;
  overflow-wrap: break-word;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 2px;
  margin-left: 5px;
  padding: 5px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.formGroup label {
  width: 105px;
  font-weight: bold;
  margin-bottom: 5px;
  max-width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
}

.formGroup input,
.formGroup select {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  max-width: 100%;
  box-sizing: border-box;
  word-break: break-word;
  overflow-wrap: break-word;
}

.formGroup p,
.formGroup label {
  max-width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  cursor: pointer;
}

.editAndShareArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 80px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addButton {
  background-color: lightgreen;
  cursor: pointer;
}

.closeButton {
  background-color: var(--gray-color);
  cursor: pointer;
}

.sharingField {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  left: 10x;
  width: 45%;
  margin-bottom: 10px;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  width: 78px;
  border-top: 1px solid var(--border-color);
  font-size: 16px;
}

.chbox {
  color: var(--text-light);
  margin-bottom: 10px;
  accent-color: var(--checkbox-color);
  border-radius: 12px;
  font-weight: bold !important;
  width: 100%;
  font-size: 16px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif !important;
}

.chbox input {
  font-weight: bold;
}

.filtername
{
  color: white;
  font-weight: bold;
}

.csv {
  background-color: none !important;
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  margin-top: 10px !important;
  margin-left: -10px;
  font-size: 16px;
  font-weight: bold;
  width: 78px;
}

.uploadButton {
  color: var(--text-dark);
  background-color: var(--gray-color); 
  margin-bottom: 10px;
  accent-color: var(--checkbox-color);
  border-radius: 12px;
  font-weight: bold !important;
  width: 100%;
  font-size: 16px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif !important;
  cursor: pointer;
}

.dropZone {
  border: 2px dashed var(--border-color);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin: 20px 0;
  background-color: var(--dropzone-bg-color);
}

.description {
  width: 100%;
  max-width: 500px;
  height: 80px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  resize: none;
  background-color: var(--description-bg-color);
}

.templateButton {
  display: inline-block;
  background-color: var(--blue-color);
  color: var(--text-light);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

:global(.Toastify__toast) {
  min-width: 300px;
  max-width: 500px;
  font-size: 1rem;
  padding: 16px 20px;
}
@media (max-width: 900px) {
      .container {
        right:100px;
      }

      .add_event {
        flex-direction: column;
        align-items: center;
      }

      .add {
        width: 10px;
        height: 10px;
        font-size: 15px;
        padding: 8px 20px 23px 10px;
      }

      .chbox {
        transform: scale(0.7);
        width: 50px;
        height: 40px;
        font-size: 12px;
        margin: 0.5px;
        text-align: center;
        accent-color: var(--checkbox-color);
      }

      .modalContent {
        width: 90%;
      }

      .filters {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: -20px;
        width: 50%;
        font-size: 10px;
        border-top: none;
      }

      .modalContent {
        width: 90%;
        height: auto;
        padding: 10px;
      }

      .editAndShareArea {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        gap: 0px;
      }

      .modalContent{
        max-height: 90%;
      }

      .modalContentEdit {
        max-height: 90%;
        overflow-y: auto;
      }

      :global(.rbc-toolbar button) {
        font-size: 14px !important;
        padding: 6px 10px !important;
      }

      :global(.rbc-toolbar) {
        font-size: 15px;
        font-weight: bold;
        color: var(--toolbar-text-color);
      }

      :global(.rbc-header span) {
        font-size: 9.5px !important;
        color: var(--text-dark) !important;
      }

      :global(.rbc-allday-cell) {
        height: 15px !important;
      }

      :global(.rbc-event) {
        font-size: 8px !important;
      }

      :global(.rbc-calendar) {
        width: 100% !important;
        margin-left: -10px !important;
        margin-right: 8px !important;
      }

      :global(.rbc-time-column) {
        font-size: 8px !important;
      }

      :global(.rbc-event-content) {
        font-size: 7px;
      }

      :global(.rbc-event-label) {
        display: none;
      }

      .uploadButton {
        font-size: 10px;
        width: 50px;
        margin-left: 18px;
        accent-color: var(--checkbox-color);
      }

      .templateButton {
        padding-left: 12px;
        padding-right: 12px;
      }

}
@media (max-width: 800px) {
  .container {
    width: 100%;
    margin-left: 0px;
    font-size: 10px;
  }

  .add_event {
    flex-direction: column;
    align-items: center;
  }

  .add {
    width: 10px;
    height: 10px;
    font-size: 15px;
    padding: 8px 20px 23px 10px;
  }

  .chbox {
    transform: scale(0.7);
    width: 50px;
    height: 40px;
    font-size: 12px;
    margin: 0.5px;
    text-align: center;
    accent-color: var(--checkbox-color);
  }

  .modalContent {
    width: 90%;
  }

  .filters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    width: 50%;
    font-size: 10px;
    border-top: none;
  }

  .modalContent {
    width: 90%;
    height: auto;
    padding: 10px;
  }

  .editAndShareArea {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 0px;
  }

  .modalContent{
    max-height: 90%;
  }

  .modalContentEdit {
    max-height: 90%;
    overflow-y: auto;
  }

  :global(.rbc-toolbar button) {
    font-size: 14px !important;
    padding: 6px 10px !important;
  }

  :global(.rbc-toolbar) {
    font-size: 15px;
    font-weight: bold;
    color: var(--toolbar-text-color);
  }

  :global(.rbc-header span) {
    font-size: 9.5px !important;
    color: var(--text-dark) !important;
  }

  :global(.rbc-allday-cell) {
    height: 15px !important;
  }

  :global(.rbc-event) {
    font-size: 8px !important;
  }

  :global(.rbc-calendar) {
    width: 100% !important;
    margin-left: -10px !important;
    margin-right: 8px !important;
  }

  :global(.rbc-time-column) {
    font-size: 8px !important;
  }

  :global(.rbc-event-content) {
    font-size: 7px;
  }

  :global(.rbc-event-label) {
    display: none;
  }

  .uploadButton {
    font-size: 10px;
    width: 50px;
    margin-left: 18px;
    accent-color: var(--checkbox-color);
  }

  .templateButton {
    padding-left: 12px;
    padding-right: 12px;
  }
}

