h1 {
    align-items: center;
    justify-content: center;
    display: flex;
}
.date-container {
    position: absolute;
    bottom:0;
    /* right:0; */
    
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
    width: fit-content; /* Thu nhỏ container */
    
    /* height: 100dvh; Chiếm toàn bộ chiều cao màn hình */
    /* padding: 20px; Thêm khoảng cách */
}


@media (max-width: 800px) {

    .date-container{
      transform: scale(0.7);
      top: -50px; /* Khoảng cách từ trên xuống */
    right: -50px; /* Khoảng cách từ phải vào */
    }
    
  }
  
